.cube {
  padding-top: 158px;
  min-height: 100vh;
}

.cube-text {
  p {
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 84px;
	text-align: center;
	text-transform: uppercase;
	color: #BCB188;
	margin-top: 0;
	margin-bottom: 9px;
  }

}

.cube-items {
  background: url("../../../img/cube.png") top 58px center no-repeat;
  min-height: 765px;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}

.cube-legal {
  width: 71px;
  height: 71px;
  background: #BBB187;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}

.cube-item__legal {
  display: flex;

  a {
	text-decoration: none;
	font-style: normal;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 30px;
	transform: rotate(-30deg);
	color: rgba(187, 177, 135, 0.31);
  }
}

.cube-text__button {
  transform: rotate(-30deg);
  width: 246px;
  border-bottom: 1px solid #A9A9A9;
  height: 30px;
  position: relative;
  left: 20px;
  top: -57px;
}

.cube-item__text {
  p {
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 38px;
	text-transform: uppercase;
	color: #BCB188;
	max-width: 217px;
	margin: 0;
  }
}

.cube-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 765px;
}

.bottom {
  margin-bottom: 103px;
}

.text-right {
  display: flex;
  justify-content: flex-end;

  p {
	text-align: right;
  }
}

.button-right {
  left: -37px !important;
  top: 77px !important;
}
