.footer {
  padding-bottom: 200px;
}

.footer-title {
  margin-bottom: 109px;

  p {
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 84px;
	text-align: center;
	text-transform: uppercase;
	color: #BCB188;
	margin: 0;
  }
}

.footer-items {
  display: flex;
  justify-content: space-between;

  p {
	margin: 0;
  }
}

.footer-tel__text {
  p {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 42px;
	text-transform: uppercase;
	color: #BCB188;

  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-schedule {
  margin-left: 25px;

  p {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	color: #4A4942;

  }
}

.footer-address__text {
  margin-bottom: 16px;

  p {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	color: #856535;

  }
}

.footer-metro {
  display: flex;
  margin-bottom: 25px;

  p {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	color: #4A4942;
  }
}

.footer-cart {
  width: 608px;
  height: 250px;
}

.footer-tel {
  display: flex;
  align-items: baseline;
  margin-bottom: 50px;
}

.footer-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #4A4942;
  position: relative;
  margin-right: 13px;

  &::after {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 7.8px);
	width: 16px;
	height: 16px;
	background: #68B568;
	border-radius: 50%;

  }
}

.footer-metro__title {
  display: flex;
  align-items: center;
  margin-right: 38px;
  border-top: 3px solid #4A4942;
  padding-top: 10px;
}

.footer-metro__parking {
  border-top: 3px solid #4A4942;
  padding-top: 10px;
}

.footer-form {
  width: 46%;
}

.form {
  input {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	background: transparent;
	color: #BCB188;
	border: none;
	border-top: 2px solid #BCB188;
	width: 100%;
	padding: 33px 0;
  }
}

button {
  padding: 22px 0;
  border: none;
  border-top: 2px solid #BCB188;
  border-bottom: 2px solid #BCB188;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
